<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opciones admin</title>
    <%- include ('partials/head.ejs') %>
    </head>
<body>
    
    <%- include ('partials/navigation.ejs') %>
    <h2 style="color: azure; font-family: fantasy;" >Lista de usuarios</h2>
    
    <table align="center" width="80%" border=2 style="border-style: solid; background-color: rgb(170, 90, 166); text-decoration-color: ;">
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Tipo</th>
            <th>Opciones</th>
        </tr>
        <% users.forEach( obj => { %>
        <tr>
            <td><%= obj.name %></td>
            <td><%= obj.email %></td>
            <td><%= obj.phone %></td>
            <td><%= obj.address %></td>
            <td><%= obj.tipo %></td>
            <td><a href='/admin/user/delete?id=<%= obj._id %>' style="color: rgb(24, 49, 75);">Eliminar</a></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>